<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>following</th>
    <th><%= user.followings.count %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= user.followers.count %></th>
  </tr>
</table>

<div class='row'>
  <%= link_to '',edit_user_path(user),class: "form-group btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>

<div>
  <% unless current_user == user %>
    <div class="form-group">
      <%= render 'relationships/follow_form', user: user %>
    </div>
  <% end %>

  <% if (current_user != user)&&(current_user.following?(user))&&(user.following?(current_user))  %>
    <div class= "btn btn-success btn-block">
      <%= link_to 'Begin Chat', chat_path(user.id) %>
    </div>
  <% end %>

</div>